.navbar-brand img{
	width: 20vh;
}

.navbar-collapse {
		width: 50vh;
	    float: right;
	    margin-top: 1vh;
	}
.navbar-light {
	.navbar-nav {
		.nav-link {
    		color: #fff;
    	}
    }
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #DEB887;
}