/*index.html*/
.carousel-inner img{
  width: 100%;
}
.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
	h1{
		font-size: 500%;
		text-transform: uppercase;
		text-shadow: 1px 1px 15px #000;
	}
	h3{
		font-size: 200%;
		font-weight: 500;
		text-shadow: 1px 1px 10px #000;
		padding-bottom: 1rem;
	}
	.btn-primary{
		color: #000;
		background: #FFE4C4;
		border: 1px solid #FFE4C4;
		&:hover{
			background: #D2B48C;
			border: 1px solid #D2B48C;
		}
	}

}




