/* Color */
.primary-color {
	color: $primary-color;
}
.primary-bg {
	background: $primary-color;
}
.orange-color {
	color: $orange-color;
}
.orange-bg {
	background: $orange-color;
}
.white-color {
	color: $white-color;
}
.white-bg {
	background: $white-color;
}
.black-color {
	color: #000;
}

/* Text size */
.i {
	font-size: $i;
}