@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import "./utilities/_variables.scss";

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  overflow-x: hidden;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
}
.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
  }
  h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
  }
  a {
    color: #fff;
    text-decoration: none;
      &:hover {
        color: #000;
        text-decoration: none;
      }
  }
}

.btn-primary{
    border: 1px solid #CD853F;
    &:hover{
      background: #8B4513;
      border: 1px solid #8B4513;
      color: #fbfbfb;
    }
    
}
.jumbotron{
  padding: 1rem;
  border-radius: 0;
}
.padding{
  padding-bottom: 2rem;
}
.padding-top {
  padding-top: 10vh;
}
.padding-top-less {
  padding-top: 3vh;
}
.padding-up {
  margin-top: -15vh;
}
.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
  hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}


.fa-check, .fa-search, .fa-question{
  font-size: 4em;
  margin: 1rem;
}
a {
  &.btn_check {
        border: 1px solid #CD853F;
        border-radius: 30px;
        color: #000;
        &:hover {
          background: #CD853F;
          border: 1px solid #CD853F;
          color: #fff;
        }
      }
}


footer{
  background: #000;
  color: #fff;
  padding-top: 2rem;
  img {
    width: 20vh;
  }
  a {
    color: #fff;
  }
}
hr.light {
  border-top: 1px solid #fff;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

hr.light-100 {
  width: 100%;
  border-top: 1px solid #fff;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #fixed {
    background-image: url("../../img/mac1.png");
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }
  #fixed1 {
    background-image: url("../../img/mac2.svg");
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }
  #fixed2 {
    background-image: url("../../img/mac3.svg");
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }
  #fixed3 {
    background-image: url("../../img/mac4.svg");
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.text {
  margin-top: -10vh;
}

/* About */
img {
  &.logo-b {
    width: 20vh;
  }
}


.white-color {
  &:hover {
    background: $primary-color;
  }
}