@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
/* colors */
/* Text size */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\000034}}
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000312}}
.carousel-inner img {
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000316}}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000320}}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000325}}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000331}}
.carousel-caption a {
  color: #fff;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000334}}
.carousel-caption a:hover {
  color: #000;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000341}}
.btn-primary {
  border: 1px solid #CD853F;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000343}}
.btn-primary:hover {
  background: #8B4513;
  border: 1px solid #8B4513;
  color: #fbfbfb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000350}}
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000354}}
.padding {
  padding-bottom: 2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000357}}
.padding-top {
  padding-top: 10vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000360}}
.padding-top-less {
  padding-top: 3vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000363}}
.padding-up {
  margin-top: -15vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000366}}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000370}}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000379}}
.fa-check, .fa-search, .fa-question {
  font-size: 4em;
  margin: 1rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000384}}
a.btn_check {
  border: 1px solid #CD853F;
  border-radius: 30px;
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000388}}
a.btn_check:hover {
  background: #CD853F;
  border: 1px solid #CD853F;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\0000397}}
footer {
  background: #000;
  color: #fff;
  padding-top: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003101}}
footer img {
  width: 20vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003104}}
footer a {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003108}}
hr.light {
  border-top: 1px solid #fff;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003115}}
hr.light-100 {
  width: 100%;
  border-top: 1px solid #fff;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

/*---Firefox Bug Fix --*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003123}}
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003133}}
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003138}}
figure .fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003146}}
figure #fixed {
  background-image: url("../../img/mac1.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003160}}
figure #fixed1 {
  background-image: url("../../img/mac2.svg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003174}}
figure #fixed2 {
  background-image: url("../../img/mac3.svg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003188}}
figure #fixed3 {
  background-image: url("../../img/mac4.svg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003205}}
[class*="col-"] {
  padding: 1rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003209}}
.text {
  margin-top: -10vh;
}

/* About */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003215}}
img.logo-b {
  width: 20vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_s\.scss}line{font-family:\00003222}}
.white-color:hover {
  background: #8B4513;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_navbar\.scss}line{font-family:\000031}}
.navbar {
  padding: .8rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_navbar\.scss}line{font-family:\000035}}
.dark {
  background: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_navbar\.scss}line{font-family:\000039}}
.navbar-collapse {
  width: 30px;
  float: right;
  margin-right: 16em;
  margin-top: .4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_navbar\.scss}line{font-family:\0000315}}
.navbar-nav li {
  padding-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_navbar\.scss}line{font-family:\0000319}}
.navbar-brand img {
  width: 20vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_navbar\.scss}line{font-family:\0000322}}
.nav-link {
  font-size: 1.1em !important;
}

/*---Media Queries --*/
@media (max-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\000033}}
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\000039}}
  .carousel-caption {
    top: 45%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\0000312}}
  .carousel-caption h1 {
    font-size: 350%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\0000315}}
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\0000320}}
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\0000324}}
  .display-4 {
    font-size: 200%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\0000327}}
  .social a {
    font-size: 2.5em;
    padding: 2rem;
  }
}
@media (max-width: 576px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\0000333}}
  .carousel-caption {
    top: 40%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\0000336}}
  .carousel-caption h1 {
    font-size: 250%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\0000339}}
  .carousel-caption h3 {
    font-size: 110%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\0000342}}
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\0000346}}
  .carousel-indicator {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\0000349}}
  .display-4 {
    font-size: 160%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/pages\/_responsive\.scss}line{font-family:\0000352}}
  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}
/* colors */
/* Text size */
/* Color */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/utilities\/_utilities\.scss}line{font-family:\000032}}
.primary-color {
  color: #8B4513;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/utilities\/_utilities\.scss}line{font-family:\000035}}
.primary-bg {
  background: #8B4513;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/utilities\/_utilities\.scss}line{font-family:\000038}}
.orange-color {
  color: #CD853F;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/utilities\/_utilities\.scss}line{font-family:\0000311}}
.orange-bg {
  background: #CD853F;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/utilities\/_utilities\.scss}line{font-family:\0000314}}
.white-color {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/utilities\/_utilities\.scss}line{font-family:\0000317}}
.white-bg {
  background: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/utilities\/_utilities\.scss}line{font-family:\0000320}}
.black-color {
  color: #000;
}

/* Text size */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github2\/assets\/styles\/sass\/utilities\/_utilities\.scss}line{font-family:\0000325}}
.i {
  font-size: 35px;
}

/*# sourceMappingURL=sa.css.map */
