@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_navbar\.scss}line{font-family:\000031}}
.navbar-brand img {
  width: 20vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_navbar\.scss}line{font-family:\000035}}
.navbar-collapse {
  width: 50vh;
  float: right;
  margin-top: 1vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_navbar\.scss}line{font-family:\0000311}}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

/*index.html*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\000032}}
.carousel-inner img {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\000035}}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\000039}}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000314}}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000320}}
.carousel-caption .btn-primary {
  color: #000;
  background: #CD853F;
  border: 1px solid #CD853F;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000324}}
.carousel-caption .btn-primary:hover {
  background: #8B4513;
  border: 1px solid #8B4513;
  color: #fbfbfb;
}

/*Body*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000334}}
.top h1 {
  transform: translateY(10vh);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000337}}
.top .card {
  transform: translateY(20vh);
  width: 90vh;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000342}}
.top .card .check {
  width: 30vh;
  transform: translateX(27vh);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000347}}
.top .card h2 {
  font-weight: 400;
  transform: translateY(2vh);
  color: #532301;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000353}}
.top .card a {
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000356}}
.top .card a.btn_check {
  border: 2px solid #CD853F;
  border-radius: 30px;
  margin-left: 30vh;
  transform: translateY(3vh);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000364}}
.top .card .check1 {
  width: 30vh;
  transform: translateX(26vh);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000370}}
.top .card a.btn_check1 {
  border: 2px solid #CD853F;
  border-radius: 30px;
  margin-left: 31vh;
  transform: translateY(3vh);
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000381}}
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000387}}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/_pages\.scss}line{font-family:\0000395}}
#fixed {
  background-image: url("assets/images/ani.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*text size*/
/*text size*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/utilities\/_utilities\.scss}line{font-family:\000032}}
.h1-text {
  font-size: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/github\/assets\/styles\/sass\/utilities\/_utilities\.scss}line{font-family:\000035}}
.h2-text {
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
